@model PDHourTracker.Web.Models.Employees.EmployeeViewModel

<form asp-controller="Employees" asp-action="@ViewData["Action"]" method="post" role="form">

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="FirstName">First Name</label>
                <input type="text" class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="LastName">Last Name</label>
                <input type="text" class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-sm btn-primary" value="Save" />
    </div>
</form>