<div class="row">
    <div class="col-md-12">
        <p>
            <a asp-controller="@ViewData["Controller"]" asp-action="@ViewData["Action"]">@ViewData["LinkName"]</a>
        </p>
    </div>
</div>