@{ 
    ViewData["Title"] = "Updates";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <p>
            Use the links to view and add/update the following items.
        </p>
        <p>
            <a asp-controller="Employees">Employees</a>
        </p>
        <p>
            <a asp-controller="Projects">Projects</a>
        </p>
        <p>
            <a asp-controller="ProviderCodes">Provider Codes</a>
        </p>
    </div>
</div>